.navbar-brand img {
    width: 130px;
    height: 80px;
}
.carousel-indicators {
    position: absolute;
    bottom: -62px !important;

}

        .carousel-indicators [data-bs-target] {
            width: 30px;
            height:5px !important;
            padding: 0;
            border-radius: 5px !important;
            background-color: #ffc107 !important;
            
      
          
        }
        .ppbutton:hover {
background-color: #ffb526 !important;
border-color: #ffb526;
        }
        .carousel-indicators .active {
            width: 50px !important;
       
            /* phone produkt start */
        }   

        .phone-see-all {
            text-decoration: none;
            color: #ffb526;
        }
        .span {
            display: block;
            height: 5px;
            width: 150px;
            margin: auto;
            border-radius: 5px;
            background-color: orange;
        }
        .photos-2 {
            max-width: 100%;
        }
        .common {
            box-sizing: content-box;
        }
        span {
            display: block;
            height: 5px;
            width: 150px;
            margin: auto;
            border-radius: 5px;
            background-color: orange;
        }
        
        .category {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .navbar-112 {
            width: 100px;
        }
        .footer-color {
            background-color:#dee1e6;
        }
        .a-ili {
            text-decoration: none;
            color:black;
            list-style: none;
        }
        .a-ili1{
            text-decoration: none;
            color:black;   
        }
        .a-ili1:hover {
         color:#ffa032;
         text-decoration: underline;
         transition: all 0.3s;
        }